name: Image Minimizer

on:
  workflow_call:

concurrency:
  group: image-minimizer-${{ github.event_name }}-${{ github.event.comment.id || github.event.issue.number || github.event.pull_request.number }}
  cancel-in-progress: false

jobs:
  minimize:
    if: ${{ github.actor != 'fossifybot[bot]' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Checkout .github repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          repository: FossifyOrg/.github
          path: .github-repo

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 16

      - name: Install probe-image-size
        run: npm i probe-image-size@7.2.3 --ignore-scripts

      - id: app-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Minimize simple images
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        timeout-minutes: 3
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            const script = require('./.github-repo/scripts/image-minimizer.cjs');
            await script({github, context});
