name: Image Minimizer

on:
  workflow_call:

concurrency:
  group: image-minimizer-${{ github.event_name }}-${{ github.event.comment.id || github.event.issue.number || github.event.pull_request.number }}
  cancel-in-progress: false

jobs:
  minimize:
    if: ${{ github.actor != 'fossifybot[bot]' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Checkout .github repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          repository: FossifyOrg/.github
          path: .github-repo

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 16

      - name: Install probe-image-size
        run: npm i probe-image-size@7.2.3 --ignore-scripts

      - id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Minimize simple images
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        timeout-minutes: 3
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            const script = require('./.github-repo/scripts/image-minimizer.cjs');
            await script({github, context});
