name: PR

on:
    workflow_call:
        inputs:
            run_lint:
                description: "Whether to run Android lint as a part of this workflow. True by default."
                type: boolean
                default: true
                required: false
            run_detekt:
                description: "Whether to run detekt lint as a part of this workflow. True by default."
                type: boolean
                default: true
                required: false
            test_task:
                description: 'Tests gradle task to run. ":app:testFossDebugUnitTest" by default'
                type: string
                default: ":app:testFossDebugUnitTest"
                required: false

concurrency:
    group: pr-ci-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    wrapper-validation:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
            - uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2

    test:
        needs: wrapper-validation
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
            - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
              with:
                  java-version: 17
                  distribution: "temurin"
            - uses: FossifyOrg/.github/.github/actions/gradle-cache@main
            - name: Run tests
              run: ./gradlew ${{ inputs.test_task }}

    detekt:
        needs: wrapper-validation
        runs-on: ubuntu-latest
        if: ${{ inputs.run_detekt }}
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
            - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
              with:
                  java-version: 17
                  distribution: "temurin"
            - uses: FossifyOrg/.github/.github/actions/gradle-cache@main
            - name: Run detekt checks
              run: ./gradlew detekt

    lint:
        needs: wrapper-validation
        runs-on: ubuntu-latest
        if: ${{ inputs.run_lint }}
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
            - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
              with:
                  java-version: 17
                  distribution: "temurin"
            - uses: FossifyOrg/.github/.github/actions/gradle-cache@main
            - name: Run Android lint
              id: lint
              run: ./gradlew lint
            - name: Update baseline
              if: ${{ failure() && steps.lint.conclusion == 'failure' }}
              run: ./gradlew updateLintBaseline
            - name: Upload new baseline
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
              if: ${{ failure() && steps.lint.conclusion == 'failure' }}
              with:
                  name: "new-lint-baseline"
                  path: "app/lint-baseline.xml"
            - name: Upload results
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
              if: ${{ !cancelled() }}
              with:
                  name: "lint-results"
                  path: "app/build/intermediates/lint_intermediate_text_report/fossDebug/lint-results-fossDebug.txt"
