name: Testing build (on PR)

on:
  workflow_call:
    inputs:
      expected_label:
        description: 'Label to look for to run the build. "testers needed" by default'
        type: string
        default: "testers needed"
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, inputs.expected_label)
    outputs:
      debug_artifact_url: ${{ steps.upload-debug.outputs.artifact-url }}
      release_artifact_url: ${{ steps.upload-release.outputs.artifact-url }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          java-version: 17
          distribution: "temurin"
      - uses: FossifyOrg/.github/.github/actions/gradle-cache@main

      - name: Clean project
        run: ./gradlew clean

      - name: Set nightly version
        id: nightly
        env:
          HEAD_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
        run: |
          VERSION_NAME=$(grep '^VERSION_NAME=' gradle.properties | cut -d= -f2)
          SHORT_SHA=${HEAD_SHA::7}
          NIGHTLY_VERSION="${VERSION_NAME}-nightly-${SHORT_SHA}"
          echo "nightly_version=$NIGHTLY_VERSION" >> "$GITHUB_OUTPUT"

      - name: Build debug APK
        run: ./gradlew -PVERSION_NAME="${{ steps.nightly.outputs.nightly_version }}" assembleFossDebug

      - name: Upload debug APK
        id: upload-debug
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: "test-build-foss-debug"
          path: "app/build/outputs/apk/foss/debug/*debug.apk"

      - name: Decode signing secrets
        if: >
          github.event.pull_request.user.login == 'fossifybot[bot]' &&
          github.event.pull_request.head.ref == 'fossifybot/release'
        uses: FossifyOrg/.github/.github/actions/decode-secrets@main
        env:
          KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          KEYSTORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}

      - name: Build release APK (foss)
        if: >
          github.event.pull_request.user.login == 'fossifybot[bot]' &&
          github.event.pull_request.head.ref == 'fossifybot/release'
        run: ./gradlew -PVERSION_NAME="${{ steps.nightly.outputs.nightly_version }}" assembleFossRelease

      - name: Clean up secrets
        if: >
          always() &&
          github.event.pull_request.user.login == 'fossifybot[bot]' &&
          github.event.pull_request.head.ref == 'fossifybot/release'
        uses: FossifyOrg/.github/.github/actions/cleanup-secrets@main

      - name: Upload release APK (foss)
        if: >
          github.event.pull_request.user.login == 'fossifybot[bot]' &&
          github.event.pull_request.head.ref == 'fossifybot/release'
        id: upload-release
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: "test-build-foss-release"
          path: "app/build/outputs/apk/foss/release/*release.apk"

  comment:
    needs: build
    runs-on: ubuntu-latest
    if: >
      github.event.pull_request.user.login == 'fossifybot[bot]' &&
      github.event.pull_request.head.ref == 'fossifybot/release'
    steps:
      - id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Find existing test build comment
        id: find_comment
        uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad
        with:
          token: ${{ steps.app-token.outputs.token }}
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "fossifybot[bot]"
          body-includes: "<!-- fossify-test-build-comment -->"

      - name: Comment with test build link
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9
        with:
          token: ${{ steps.app-token.outputs.token }}
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            <!-- fossify-test-build-comment -->
            Test builds are ready for commit ${{ github.event.pull_request.head.sha }} :tada:

            - **Debug APK**: [test-build-foss-debug.zip](${{ needs.build.outputs.debug_artifact_url }})
            - **Release APK**: [test-build-foss-release.zip](${{ needs.build.outputs.release_artifact_url }})

            > [!TIP]
            >  - You must be logged in to GitHub for the links to work.
            >  - The release build is signed with the official key and **can be used to update** official store releases.
          edit-mode: replace
