name: Update baselines

on:
  workflow_call:

concurrency:
  group: update-baseline-${{ github.repository }}
  cancel-in-progress: true

jobs:
  update-baselines:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Checkout .github repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          repository: FossifyOrg/.github
          path: .github-repo

      - uses: FossifyOrg/.github/.github/actions/gradle-cache@main

      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Update baselines
        run: ./gradlew updateLintBaseline detektBaseline

      - name: Check for diff
        id: git-diff
        run: |
          if git diff --quiet; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Get app token
        if: ${{ steps.git-diff.outputs.changed == 'true' }}
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Create or update baseline refresh PR
        if: ${{ steps.git-diff.outputs.changed == 'true' }}
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          token: ${{ steps.app-token.outputs.token }}
          sign-commits: true
          branch: fossifybot/update-lint-baselines
          title: "chore: update lint baselines"
          commit-message: "chore: update lint baselines"
          body: ""
          add-paths: |
            **/lint-baseline.xml
            **/detekt-baseline.xml
