name: Fastlane metadata validation

on:
  workflow_call:

jobs:
  fastlane:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Checkout .github repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          repository: FossifyOrg/.github
          path: .github-repo

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: "3.x"

      - name: Run metadata validator
        run: python ./.github-repo/scripts/validate_fastlane_metadata.py
