name: Fastlane metadata validation

on:
  workflow_call:

jobs:
  fastlane:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Checkout .github repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          repository: FossifyOrg/.github
          path: .github-repo

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: "3.x"

      - name: Run metadata validator
        run: python ./.github-repo/scripts/validate_fastlane_metadata.py
